[user]
	name = Noran Raskin
	email = n.raskin@campus.tu-berlin.de
[core]
	editor = vi
	excludesfile = ~/.gitignore
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[init]
	defaultbranch = master
[web]
	browser = google-chrome
[merge]
	tool = kdiff3
[pull]
	rebase = true
